#excl {
	left: 50px;
}

#aida-data {
	position: relative;
	height: 700px;
	overflow: auto;
	font: normal 11pt Consolas;
	font-family: Consolas;
	max-width: 1000px;
	word-break: break-word;
}

#repair-data {
	background: #ddd;
	border: 1px solid #ccc;
	margin: 4px;
	margin-top: 10px;
	height: 569px;
	font: normal 11pt Consolas;
}

#repair-data input[type=number] {
	width: 40px;
	text-align: center;
	font: normal 12pt Segoe UI;
	margin-left: 5px;
}

#repair-data tbody tr:hover {
	color: #2AA4FE;
	text-decoration: underline;
}

#selected {
	left: 760px;
	top: 0;
}

.cart-history {
	table-layout: fixed;
}

.page>*,
.set>* {
	margin-left: 15px
}

.set,
.page>a,
.set>a {
	display: none
}

.open,
.open>a {
	display: block
}

#aida-data a:before {
	content: "+ ";
}

#aida-data a.open:before {
	content: "- ";
}

f {
	color: #555;
}