@{
    ViewBag.Title = "Отчёты и операции";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="analyzeContainer__header">
    <tr>
		<td style="vertical-align: top;">
			<p>
				<a href="~/admin/licenses/">Лицензии ОС</a>
			</p>
			<p>
				<a href="~/employeeslists/">Список комиссий для документов</a>
			</p>
			<p>
				<a href="~/employees/">Список МОЛ</a>
			</p>
		</td>
        <td style="vertical-align: top;">
			<p>
				<a href="~/admin/scripts/">Удалённое выполнение cmd скриптов (в работе)</a>
			</p>
		</td>
    </tr>
</table>