@model string

@using (var db = new DevinContext())
{
    var logs = db.Elm
        .Where(x => x.CNAME == Model)
        .OrderByDescending(x => x.EDATE)
        .ToList();

    <div class="cartHistory">
        <table class="cartHistory__table">
            <thead>
                <tr>
                    <th width="120px">Дата</th>
                    <th width="140px">Событие</th>
                    <th>Описание</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var log in logs)
                {
                    <tr>
                        <td>@log.EDATE.ToString("dd.MM.yyyy HH:mm")</td>
                        <td>@log.EVGR</td>
                        <td>@log.EVENTS.Replace(",", ", ")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}