@model Folder

@if (Model.SubFolders.Count == 0 && Model.Computers.Count == 0 && Model.Devices.Count == 0)
{
    <div>папка не содержит вложенных элементов</div>
}

@foreach (var sub in Model.SubFolders)
{
    @Html.Partial("Folder", sub)
}
@foreach (var computer in Model.Computers)
{
    @Html.Partial("Computer", computer)
}
@Html.Partial("Devices", Model.Devices)