@model int

@using (var db = new DevinContext())
{
    var query = from r in db.Repairs
                from s in db.Storages.Where(x => x.Id == r.StorageId)
                where r.DeviceId == Model
                orderby r.Date descending
                select new Repair
                {
                    Date = r.Date,
                    Author = r.Author,
                    Storage = new Storage { Name = s.Name },
                    Number = r.Number
                };

    var logs = query.ToList();

    <button class="cart__button" onclick="Devices.Cart.backToAddons()">Вернуться</button>

    <div class="cartHistory">
        <table class="cartHistory__table">
            <thead>
                <tr>
                    <th class="cartHistory__date">Дата</th>
                    <th>Пользователь</th>
                    <th>Позиция со склада (кол-во)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var log in logs)
                {
                    <tr>
                        <td>@log.Date.ToString("dd.MM.yyyy HH:mm")</td>
                        <td>@log.Author</td>
                        <td>@(log.Storage?.Name) (@log.Number шт.)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}