@model DevicesViewModel

@foreach (var computer in Model.Computers)
{
    @Html.Partial("Computer", computer)
}

<div class="unit" id="solo">
    <table class="caption">
        <tr>
            <th width="24px"><div class="icon ic-cached"></div></th>
            <td><b>Не распределенные устройства</b></td>
        </tr>
    </table>
    <div class="itemsBlock itemsBlock_expanded">
        @Html.Partial("Devices", Model.Devices)
    </div>
</div>

@foreach (var folder in Model.Folders)
{
    @Html.Partial("Folder", folder)
}