@{
    ViewBag.Title = "DEVIN | Железо";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section menu {
    @*<li>
        <form method="get" action="@Url.Action(null, "aida")">
            <input name="search" id="search" placeholder="Поиск" value="@Request.QueryString.Get("search")" />
        </form>
    </li>*@<li>
        <a class="has-icon" onmousedown="_menu(this)" menu="main"><div class="icon ic-menu"></div></a>
    </li>
}

<script>let search = '@Request.QueryString.Get("search")';</script>


@using (var db = new DevinContext())
{

}

<div class="context-menu" id="main">
    
</div>