@model StoragesViewModel

@{
    List<Storage> Storages = new List<Storage>();
    Folder OffStorages = new Folder
    {
        Id = -1,
        Name = "Списанные позиции"
    };

    foreach (Storage storage in Model.Storages)
    {
        if (storage.IsOff())
        {
            OffStorages.Storages.Add(storage);
        }
        else
        {
            Storages.Add(storage);
        }
    }

    if (Storages.Count > 0)
    {
        <div class="unit" id="solo">
            <table class="caption">
                <tr>
                    <th width="24px"><div class="icon ic-cached"></div></th>
                    <td><b>Не распределенные позиции</b></td>
                </tr>
            </table>
            <div class="itemsBlock itemsBlock_expanded">
                @Html.Partial("Storages", Storages)
            </div>
        </div>
    }

    foreach (Folder folder in Model.Folders)
    {
        @Html.Partial("Folder", folder)
    }

    @Html.Partial("Folder", OffStorages)
}