@model string

<button class="cart__button" onclick="Devices.Cart.backToAddons()">Вернуться</button>

@using (var db = new DevinContext())
{
    if (!int.TryParse(Model, out int Id))
    {
        Id = db.Report.Where(x => x.RHost == Model).OrderByDescending(x => x.RDateTime).Select(x => x.ID).FirstOrDefault();
    }

    var model = db.Item
        .Where(x => x.ReportID == Id && x.IPage == "Автозагрузка")
        .Select(x => new { x.IDevice, x.IField, x.IValue })
        .OrderBy(x => x.IDevice)
        .ToList();

    if (model.Count() == 0)
    {
        <div>Компьютер не найден в базе Aida</div>
        return;
    }

    <div class="cartHistory">
		<table class="cartHistory__table">
		    <thead>
		        <tr>
		            <th width="160px" data-type="string" onclick="sortTable(this)">Процесс</th>
                    <th width="200px" data-type="string" onclick="sortTable(this)">Параметр</th>
                    <th data-type="string" onclick="sortTable(this)">Значение</th>
		        </tr>
		    </thead>
            <tbody>
                @foreach (var row in model)
                {
			        <tr>
			            <td>@row.IDevice</td>
                        <td>@row.IField</td>
                        <td>@row.IValue</td>
			        </tr>
                }
            </tbody>
        </table>
    </div>
}