@model int

@using (var conn = Database.Connection())
{
    var computer = conn.Query<AidaComputer>("SELECT * FROM Report WHERE ID = @Model", new { Model }).FirstOrDefault();

    <div class="cart-header">@computer.RHost</div>

    @Html.Action("Data", "Aida", new { Id = computer.RHost });;
}

<table class="cart-menu">
    <tr>
        <td onclick='reportDelete()'>Удалить из базы</td>
        <td onclick='cartClose()'>Закрыть</td>
    </tr>
</table>
