@model int
@using (var conn = Database.Connection())
{
    var computer = conn.Query<AidaComputer>("SELECT * FROM Report WHERE ID = @Model", new { Model }).FirstOrDefault();

    <div class="cart__header">
        <div>@computer.RHost</div>
        <div class="cart__closeButton" title="Закрыть карточку" onclick="Cart.close()">
            <i class="icon ic-clear icon_white icon_no-hover"></i>
        </div>
    </div>

    @Html.Action("Data", "Aida", new { Id = computer.RHost }); ;
}
<div class="cart__menu">
    <button class="cart__button" onclick="Aida.del()">Удалить из базы</button>
    <button class="cart__button" onclick="Cart.close()">Закрыть</button>
</div>
