@model Report

@using (var db = new DevinContext())
{
    string id = "aida" + Model.ID;

    <div class="title-wrapper" id="@id">
        <a class="title" href="##@(id)">Открыть карточку компьютера</a>
    </div>

    string sql = @"
        SELECT IGroup, IField, IValue
        FROM (SELECT IGroup, IField, IValue
        FROM Item
        WHERE ReportID = @ID AND IPage = 'Суммарная информация')
        AS T1
        WHERE IGroup NOT IN ('DMI', 'Ввод')
        AND IField NOT IN (
        'Коммуникационный порт',
        'Контроллер хранения данных',
        'USB-устройство',
        'Дата / Время',
        'DirectX',
        'Edge',
        'Вход в домен',
        'Имя компьютера',
        'Пакет обновления ОС',
        'Тип компьютера')
        AND IValue NOT IN (
        'Microsoft Print to PDF',
        'Microsoft XPS Document Writer',
        'Отправить в OneNote 16',
        'Fax',
        'Microsoft Office Document Image Writer')
        GROUP BY IGroup, IField, IValue
        ORDER BY IGroup, IField, IValue";

    string[] excludeGroups = new[] { "DMI", "Ввод" };
    string[] excludeFields = new[] { "DMI", "Ввод" };
    string[] excludeValues = new[] { "DMI", "Ввод" };

    var items = db.Item
        .Where(x => x.ReportID == Model.ID && x.IPage == "Суммарная информация")
        .Select(x => new { x.IGroup, x.IField, x.IValue })
        .Where(x => !excludeFields.Contains(x.IGroup))
        .Where(x => !excludeFields.Contains(x.IField))
        .Where(x => !excludeValues.Contains(x.IValue))
        .GroupBy(x => new { x.IGroup, x.IField, x.IValue })
        .Select(x => new Item { IGroup = x.Key.IGroup, IField = x.Key.IField, IValue = x.Key.IValue })
        .OrderBy(x => x.IGroup)
        .ThenBy(x => x.IField)
        .ThenBy(x => x.IValue)
        .ToList();

    var groups = new Dictionary<string, Dictionary<string, string>>();
    int i = 1;

    foreach (var item in items)
    {
        if (groups.ContainsKey(item.IGroup))
        {
            if (groups[item.IGroup].ContainsKey(item.IField))
            {
                item.IField = item.IField + " " + i++;
            }
            else
            {
                i = 0;
            }
            groups[item.IGroup].Add(item.IField, item.IValue);
        }
        else
        {
            var dict = new Dictionary<string, string> { { item.IField, item.IValue } };
            groups.Add(item.IGroup, dict);
        }
    }

    foreach (var group in groups.Keys)
    {
        <div class="aida__group">
            <b class="aida__group_header">@group</b>
            <table class="items">
                @foreach (var field in groups[group].Keys)
                {
                    <tr>
                        <td width="300px">@field</td>
                        <td>@groups[group][field]</td>
                    </tr>
                }
            </table>
        </div>
    }
}
