@model string

@using (var db = new DbDevin())
{
    if (!int.TryParse(Model, out int Id))
    {
        Id = db.Report.Where(x => x.RHost == Model).OrderByDescending(x => x.RDateTime).Select(x => x.ID).FirstOrDefault();
    }

    if (Id == 0)
    {
        <div class="cart__body">Компьютер не найден в базе Aida</div>
        return;
    }

    var model = db.Item
        .Where(x => x.ReportID == Id)
        .Select(x => new Item { IPage = x.IPage, IDevice = x.IDevice, IGroup = x.IGroup,IField = x.IField, IValue = x.IValue })
        .OrderBy(x => x.IPage)
        .ThenBy(x => x.IDevice)
        .ThenBy(x => x.IGroup)
        .ThenBy(x => x.IField)
        .ToList();

    if (model.Count() == 0)
    {
        <div class="cart__body">Компьютер не найден в базе Aida</div>
        return;
    }

    string page = null, device = "", group = "";
    int inum = 0;

    Response.Write("<div class=\"cart__body\"><div><div><div>");

    foreach (var row in model)
    {
        inum = row.INum;

        if (row.IPage != page)
        {
            page = row.IPage;
            device = row.IDevice;
            group = row.IGroup;

            Response.Write("</div></div></div>" +
            "<a for='p" + inum + "' onclick=\"Aida.toggle(this)\">" + page + "</a><div id='p" + inum + "' class='page'>" +
            "<a for='d" + inum + "' onclick=\"Aida.toggle(this)\">" + device + "</a><div id='d" + inum + "' class='set'>" +
            "<a for='g" + inum + "' onclick=\"Aida.toggle(this)\">" + group + "</a><div id='g" + inum + "' class='set'>");
        }
        else if (row.IDevice != device)
        {
            device = row.IDevice;
            group = row.IGroup;

            Response.Write("</div></div>" +
            "<a for='d" + inum + "' onclick=\"Aida.toggle(this)\">" + device + "</a><div id='d" + inum + "' class='set'>" +
            "<a for='g" + inum + "' onclick=\"Aida.toggle(this)\">" + group + "</a><div id='g" + inum + "' class='set'>");
        }
        else if (row.IGroup != group)
        {
            group = row.IGroup;

            Response.Write("</div>" +
            "<a for='g" + inum + "' onclick=\"Aida.toggle(this)\">" + group + "</a><div id='g" + inum + "' class='set'>");
        }

        Response.Write("<div class='fv'><span class='f'>" + row.IField + "</span> " + row.IValue + "</div>");
    }

    Response.Write("</div></div></div></div>");
}