@model string

<button class="cart__button" onclick="Devices.Cart.backToAddons()">Вернуться</button>

@using (var db = new DevinContext())
{
    if (!int.TryParse(Model, out int Id))
    {
        Id = db.Report.Where(x => x.RHost == Model).Select(x => x.ID).FirstOrDefault();
    }

    if (Id == 0)
    {
        <div>Компьютер не найден в базе Aida</div>
        return;
    }

    var model = db.Item
        .Where(x => x.ReportID == Id && new string[] { "Монитор", "Принтеры" }.Contains(x.IPage))
        .Select(x => new Item { IPage = x.IPage, IDevice = x.IDevice, IGroup = x.IGroup, IField = x.IField, IValue = x.IValue })
        .OrderBy(x => x.IPage)
        .ThenBy(x => x.IDevice)
        .ThenBy(x => x.IGroup)
        .ThenBy(x => x.IField)
        .ThenBy(x => x.IValue)
        .ToList();

    if (model.Count() == 0)
    {
        <div>Компьютер не найден в базе Aida</div>
        return;
    }

    string device = "";

    <div class="cartHistory">
        <table class="cartHistory__table">
            <thead>
                <tr>
                    <th width="300px" data-type="string" onclick="sortTable(this)">Устройство</th>
                    <th data-type="string" onclick="sortTable(this)">Информация об устройстве</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var row in model)
                {
                    if (row.IDevice == device)
                    {
                        @Html.Raw("<div><b>" + row.IField + "</b>: " + row.IValue + "</div>")
                    }
                    else
                    {
                        if (device != "")
                        { @Html.Raw("</div></td></tr>") }

                    device = row.IDevice;
                    @Html.Raw("<tr>" +
                       "<td>" + device + "</td>" +
                       "<td>" +
                       "<a onclick=\"this.parentNode.querySelector('.cart-info-block').classList.toggle('hide')\">Показать/скрыть</a>" +
                       "<div class='cart-info-block hide'>" +
                       "<div><b>" + row.IField + "</b>: " + row.IValue + "</div>")
                }
            }
            </tbody>
        </table>
    </div>
}