@{
    Layout = "~/Views/Shared/_LayoutNext.cshtml";
}

@section nav {
    <select name="type">
        <option value="computers">Компьютеры</option>
        <option value="summaries">Сводная информация</option>
        <option value="apps">Программы</option>
        <option value="fulltext">Полнотекстовый поиск</option>
    </select>
}

@section html {
    <div class="menu" id="main">
        <a href="~/aida/fact">Список компьютеров</a>
    </div>
}

@Html.Action("Load")