@{
    Layout = "~/Views/Shared/_LayoutNext.cshtml";
}

@section nav {
    <select name="type">
        <option value="computers">Компьютеры</option>
        <option value="summaries">Сводная информация</option>
        <option value="apps">Программы</option>
        <option value="fulltext">Полнотекстовый поиск</option>
    </select>
}