@{
    ViewBag.Title = "DEVIN | Каталог";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section menu {
    <li>
        <input onkeyup="Catalog.search(this)" placeholder="Поиск" value="" />
    </li><li>
        <a class="has-icon" onmousedown="_menu(this)" menu="main"><div class="icon ic-menu"></div></a>
    </li>
}

@section html {
    <div class="context-menu" id="main">
        <a href="~/storages/analyze">Расход картриджей</a>
        <div onclick="Catalog.create('printer')">Создать принтер</div>
        <div onclick="Catalog.create('cartridge')">Создать картридж</div>
    </div>
}

@using (var db = new DevinContext())
{
    var printers = db.Printers
        .Select(x => new Printer { Id = x.Id, Name = x.Name })
        .OrderBy(x => x.Name)
        .ToList();

    var cartridges = db.Cartridges
        .Select(x => new Cartridge { Id = x.Id, Name = x.Name })
        .OrderBy(x => x.Name)
        .ToList();

    <table>
        <tr>
            <td width="50%" style="vertical-align: top;">
                <div class="unit">
                    <table class="caption">
                        <tr>
                            <td><b>Принтеры</b></td>
                        </tr>
                    </table>
                    <table class="items">
                        @foreach (var printer in printers)
                        {
                            <tr id="prn@(printer.Id)">
                                <td id="prn@(printer.Id)"><a class="view__link" href="##prn@(printer.Id)">@printer.Name</a></td>
                            </tr>
                        }
                    </table>
                </div>
            </td>
            <td width="50%" style="vertical-align: top;">
                <div class="unit">
                    <table class="caption">
                        <tr>
                            <td><b>Картриджи</b></td>
                        </tr>
                    </table>
                    <table class="items">
                        @foreach (var cartridge in cartridges)
                        {
                            <tr id="cart@(cartridge.Id)">
                                <td id="cart@(cartridge.Id)"><a class="view__link" href="##cart@(cartridge.Id)">@cartridge.Name</a></td>
                            </tr>
                        }
                    </table>
                </div>
            </td>
        </tr>
    </table>
}