body {
	background-image: url(/devin/img/background.jpg);
	font-family: Segoe UI, serif;
	font-size: 12pt;
}

.h {
	font-weight: bold;
	font-size: 16pt;
	color: blue;
	text-align: center;
}

.l {
	text-align: left !important;
}

TABLE {
	border-collapse: collapse;
	border: 2px outset black;
}

TD {
	padding: 5px;
	font-size: 12pt;
	text-align: center;
	border: 1px solid #CECECE;
}

.Tx {
	font-size: 12pt;
	color: black;
	background: #72A6FC;
	font-weight: bold;
	font-family: Century Gothic, serif;
	text-align: center;
	border: 2px solid black;
}

.Tx:hover {
	color: black;
	cursor: default;
}

.Capt {
	color: black;
	background: #72A6FC;
	font-size: 12pt;
	font-weight: bold;
	font-family: Century Gothic, serif;
	text-align: center;
	border: 2px solid black;
}

.Capt:hover {
	background: white;
	color: black;
}

table input[type="text"] {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	border: 0px;
	font-size: 18px;
}

.tn {
	border: 0px;
	padding: 10px;
}

.tn td {
	border: 0px;
	padding: 0px;
	text-align: left;
}

.tn tr:hover {
	color: black;
	cursor: default
}

.cart {
	border-collapse: collapse;
	padding: 10px;
}

.cart td {
	border: 1px;
	padding: 1px;
	text-align: left;
}

.cart tr:hover {
	color: black;
	cursor: default
}

.cartP {
	border: 2px;
}

.cartP td {
	border: 0px;
}

.cartP tr:hover {
	color: black;
	cursor: default
}

.cartP a:hover {
	color: #2AA4FE;
	cursor: pointer;
}

.cartP input[type="text"] {
	width: 96%;
	height: 96%;
	border: 1px solid;
	padding: 3px;
	margin: 3px;
}

.tn input[type="text"] {
	width: 250px;
}

TR:hover {
	color: #2AA4FE;
	cursor: pointer;
}

.notTR tr:hover {
	color: black;
	cursor: default;
}

.small {
	font-size: 12px;
	color: blue;
}

.small input[type="text"] {
	font-size: 14px;
	/*background-color: #DBDBDB;*/
	height: 20px;
	vertical-align: middle;
	padding: 0;
	margin: 0;
}

.small tr:hover {
	color: blue;
	cursor: default;
}

.ntable0 {
	border-collapse: collapse;
	border: 0px;
	background: #DBDBDB;
	color: black;
}

.ntable0 td {
	border: 0px;
	padding: 2px;
	font-size: 10pt;
	font-family: Consolas, serif;
}

.ntable {
	border-collapse: collapse;
	border: 0px;
}

.ntable td {
	border: 0px;
	padding: 4px;
	font-size: 10pt;
	font-family: Arial Unicode MS, serif;
}

.ntable tr:hover {
	color: white;
	cursor: default;
}

.yesTR {
	width: 1070px;
}

.yesTR td {
	border: 1px solid black;
	padding: 3px;
	font-size: 10pt;
	text-align: left;
	font-family: Arial Unicode MS, serif;
}

.yesTR a {
	color: #72A6FC;
}

.yesTR a:hover {
	color: black;
}

.yesTR input[type="text"] {
	font-size: 10pt;
	font-family: Segoe UI, serif;
	width: 100%;
}

.yesTR tr:hover {
	background: white;
	color: black;
	cursor: pointer;
}

.yesTRr {
	color: black;
	background: #72A6FC;
	border: 2px solid black;
}

.yesTRr td {
	font-size: 12pt;
	font-weight: bold;
	text-align: center;
	font-family: Century Gothic, serif;
}

.yesBTN {
	padding: 0px;
	margin: 0px;
	background: #383838;
	color: white;
}

.yesBTN td {
	padding: 0px;
	margin: 0px;
	background: #383838;
	color: white;
}

.yesBTN :hover {
	background: #1D8595 !important;
	color: white;
}

.yesBTN td :hover {
	background: #1D8595 !important;
	color: white;
}

.aTR:hover {
	color: #2AA4FE;
	cursor: pointer;
}

.aTR {
	font-size: 12pt;
	font-weight: bold;
	font-family: Century Gothic, serif;
}

.bTR {
	font: 16pt bold;
	background-color: #383838;
	color: white;
	border: 3px solid #2AA4FE;
}

.bTR span {
	font-size: 16pt;
}

.sel {
	background: #1D8595;
}

.selr {
	background: #1D8595;
}

.selr td {
	font-size: 12pt;
	font-weight: bold;
	font-family: Century Gothic, serif;
	text-align: center;
}

.carted {
	border-collapse: collapse;
	border: 0px;
	background: #383838;
	color: white;
	width: 680px;
}

.carted td {
	border: 0px;
	font-size: 10pt;
	text-align: left;
	padding-top: 10px;
	font-family: Arial Unicode MS, serif;
}

.carted tr:hover {
	background: #383838;
	color: white;
	cursor: default;
}

.carted input[type="text"] {
	font-size: 12pt;
	font-family: Segoe UI, serif;
	width: 100%;
}

.carted select {
	font-size: 10pt;
	font-family: Segoe UI, serif;
}

.carted textarea {
	font-size: 12pt;
	font-family: Segoe UI, serif;
	width: 99%;
	height: 64px;
}

.carted a {
	color: #72A6FC;
}

.carted a:hover {
	color: #72C2EE;
}

.hist {
	border-collapse: collapse;
	border: 0px;
	background: #383838;
	color: white;
	width: 680px;
	padding: 0px;
}

.hist td {
	border: 0px;
	border-bottom: 2px solid #6B6B6B;
	font-size: 10pt;
	text-align: left;
	padding: 0px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-family: Arial Unicode MS, serif;
}

.hist a {
	color: #72A6FC;
}

.hist a:hover {
	color: #72C2EE;
}

.hist tr:hover {
	color: white;
	cursor: default;
}

.cartedTR {
	color: black;
	background: #72A6FC;
}

.cartedTR td {
	font-size: 12pt;
	font-weight: bold;
	text-align: center;
	font-family: Century Gothic, serif;
}

.cartedTR :hover {
	color: black;
	background: #72A6FC;
	cursor: default;
}

.cartedTD {
	color: black;
	background: #72A6FC;
	font-size: 12pt;
	font-weight: bold;
	text-align: center;
	font-family: Century Gothic, serif;
}

.cartedTD :hover {
	color: black;
	background: #72A6FC;
	cursor: default;
}

.menu {
	border-collapse: collapse;
	border: 0px;
	background: #383838;
	color: white;
}

.menu td {
	border: 0px;
	font-size: 12pt;
	text-align: center;
	font-family: Arial Unicode MS, serif;
	width: 74px;
	padding-left: 0px;
	padding-right: 0px;
}

.menu tr:hover {
	background: #383838;
	color: white;
	cursor: default;
}

.menu td:hover {
	background: #2AA4FE;
	color: #383838;
}

.mDiv {
	text-align: center;
	position: fixed;
	width: 100%;
	height: 31px;
	bottom: 0px;
	left: 0px;
	background: #383838;
	padding: 0px;
	margin: 0px;
	border-top: 2px solid #2AA4FE;
}

.vDiv {
	text-align: center;
	position: fixed;
	width: 100%;
	height: 33px;
	top: 0px;
	left: 0px;
	padding: 0px;
	margin: 0px;
	border-bottom: 2px solid #2AA4FE;
}

.vDiv table {
	border-collapse: collapse;
	border: 0px;
	background: white;
	color: black;
}

.vDiv input[type=text] {
	color: #C0C0C0;
	font-size: 10pt;
}

.vDivTr :hover {
	background: #72A6FC;
	color: black;
	cursor: default;
}

.vDivTr td {
	background: #72A6FC;
	border: 2px solid black;
	color: black;
	font-size: 10pt;
	font-weight: default;
}

.ftr tr :hover {
	background: #72A6FC;
	color: black;
	cursor: default;
}

.ftable {
	padding: 0px;
	margin: 0px;
	border: 0px;
	font-family: Segoe UI, serif;
}

.ftable tr:hover {
	background: black;
	color: white;
}

.ftable td {
	border: 0px;
}

.everest {
	border: 0px;
	padding: 0px;
	margin: 0px;
	width: 650px;
}

.everest td {
	color: #72A6FC;
	font-size: 12pt;
	font-weight: bold;
	font-family: Century Gothic, serif;
	border: 0px;
	padding: 0px;
	margin: 0px;
	text-align: center;
}

.everest tr :hover {
	color: white;
}

.everestIn {
	border: 0px;
	padding: 0px;
	margin: 0px;
	width: 650px;
}

.everestIn td {
	color: white;
	font-size: 10pt;
	font-family: Segoe UI, serif;
	border: 1px solid #72A6FC;
	text-align: left;
	padding: 2px;
	margin: 0px;
}

.everestIn tr :hover {
	color: white;
	cursor: default;
}

.prn {
	background: white;
	color: black;
}

.prn tr:hover {
	background: #383838;
	color: #72A6FC;
}

.tmenu {
	position: fixed;
	top: 0px;
	left: 0px;
	border-collapse: collapse;
	border: 0px;
	border-right: 3px solid #383838;
	background: #DBDBDB;
	color: black;
}

.tmenu td {
	border: 0px;
	font-size: 12pt;
	text-align: center;
	font-family: Segoe UI, serif;
	width: 80px;
	font-weight: bold;
	border-bottom: 2px solid black;
}

.tmenu tr {
	height: 28px;
}

.tmenu tr:hover {
	background: #DBDBDB;
	color: black;
	cursor: pointer;
}

.tmenu td:hover {
	background: #2AA4FE;
	color: #383838;
}

.findTD {
	position: fixed;
	top: 0px;
	left: 453px;
	border-collapse: collapse;
	border: 0px;
	border-right: 3px solid #383838;
	border-bottom: 2px solid black;
	background: white;
}

.findTD tr {
	height: 28px;
}

.findTD td {
	border: 0px;
}

.findTD td:hover {
	background: white;
}

.findTD input[type="text"] {
	font-size: 14px;
	height: 100%;
	padding-left: 5px;
}

.num {
	position: fixed;
	left: 454px;
	top: 0px;
	background: white;
	border: 0px;
	border-bottom: 2px solid black;
}

.num td {
	padding: 0px;
	border: 0px;
	font-size: 10px;
	height: 17px;
}

.num tr:hover {
	background: white;
	color: black;
	cursor: default;
}

.num td:hover {
	cursor: pointer;
}

.num input[type="text"] {
	padding: 0px;
	font-size: 12px;
}

.sklad {
	background: white;
}

.sklad td {
	border: 0px;
	font-size: 12pt;
	text-align: left;
	font-family: Segoe UI, serif;
}

.sklad tr:hover {
	background: white;
	color: black;
	cursor: default;
}

.sklad td:hover {
	cursor: pointer;
}

.sklad input[type="text"] {
	font-size: 12pt;
	font-family: Segoe UI, serif;
}

.count {
	background: white;
	border: 0px;
}

.count td {
	border: 0px;
	font-size: 8pt;
	text-align: center;
	font-family: Segoe UI, serif;
	padding: 0px;
	margin: 0px;
}

.count tr {
	height: 10px;
}

.count td:hover {
	cursor: pointer;
}

.chosen {
	background: #383838;
	color: white;
}

.EvBut td {
	padding: 0px;
	font-size: 1pt;
	text-align: left;
	font-family: Segoe UI, serif;
}

.EvBut td:hover {
	color: black;
	cursor: pointer;
}

.EVMAIN {
	color: white;
	font-size: bold;
}

.EVMAIN span {
	color: #70B3FF;
	font-size: bold;
}

.EVMAIN span:hover {
	cursor: pointer;
	color: #72A6FC;
}

.agr {
	border: 2px solid #70B3FF;
}

.agr td {
	color: white;
	font-family: Segoe UI, serif;
	font-size: 10pt;
	text-align: left;
	vertical-align: text-top;
	padding: 3px;
	border: 1px solid #BDBDBD;
	border-bottom: 1px solid #70B3FF;
}

.agrTr td {
	background: #2AA4FE;
	text-align: center;
	vertical-align: bottom;
	border: 2px solid #70B3FF;
}

.proc {
	position: fixed;
	top: 44px;
	right: 15px;
	width: 700px;
	height: 800px;
	padding: 0px;
	margin: 0px;
	text-align: center;
}

.procEv {
	position: fixed;
	top: 44px;
	right: 15px;
	width: 90%;
	height: 92%;
	padding: 0px;
	margin: 0px;
	text-align: center;
}

.debug {
	position: absolute;
	top: 0;
	right: 0;
	color: #fff;
}

.excel {
	width: 1300px;
	background: #fff;
}

.excel tr:hover {
	color: #000;
	cursor: default;
}

.excel td {
	border: 0;
}

.excel input {
	width: 100%;
	border: 0;
	font: 12pt normal Calibri;
	height: 100%;
}

.excel textarea {
	width: 100%;
	border: 0;
	font: 10pt normal Calibri;
}

.excel .title {
	text-align: center;
	font: 16pt bold Calibri;
}

.excel .center {
	text-align: center;
}

.excel .right {
	text-align: right;
}

.excel .tableHead {
	padding: 2px;
	background: #FFF38F;
	font: 12pt normal Calibri;
	border: 2px solid #DBDBDB;
}

.excel .tableSeparate {
	padding: 0;
	font: 11pt normal Calibri;
	border: 2px solid #DBDBDB;
}

.excel .tableRow td {
	border: 2px solid #DBDBDB;
}

.excel .tableRow td.tab {
	border: 0;
}

.excel .tab {
	border: 0;
}

.excel .tableRow td input {
	font: 11pt normal Arial;
}

.excel .tableRow td textarea {
	font: 11pt normal Arial;
}