@{
    ViewBag.Title = "DEVIN | Ремонты";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section menu {
    <li>
        <form method="get" action="@Url.Action(null, "repairs")">
            <input name="search" id="search" placeholder="Поиск" value="@Request.QueryString.Get("search")" />
        </form>
    </li><li>
        <a class='has-icon' onmousedown='_menu(this)' menu='main'><div class='icon ic-menu'></div></a>
    </li>
}

@section styles {
    <link rel="stylesheet" href="~/content/lib/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/content/lib/select2.min.css" />
    <link rel="stylesheet" href="~/content/css/repair.css" />
}

@section scripts {
    <script src="~/content/lib/jquery-1.12.4.min.js"></script>
    <script src="~/content/lib/jquery-ui.min.js"></script>
    <script src="~/content/lib/select2.min.js"></script>
    <script src="~/content/js/core.js"></script>
    <script src="~/content/js/repair.js"></script>
}

@section html {
    <div id="selected" class="panel">
        <div>Выбрано элементов: <b></b></div>
        <div><div id="move_select"><select id="moveKey"></select></div><a onclick="moveSelectedRepairs()">Переместить</a></div>
        <div><a onclick="offSelectedRepairs()">Отметить все ремонты как списанные</a></div>
        <div><a onclick="onSelectedRepairs()">Отметить все ремонты как активные</a></div>
        <div><a onclick="deleteSelectedRepairs()">Отменить все ремонты</a></div>
        <div><a onclick="removeAllSelection()">Сбросить выбор</a></div>
    </div>

    <div id="excelExports" class="panel" onclick="closeExportsPanel()">
        <div id="excelExportsLink"></div>
        <div><a>Закрыть</a></div>
    </div>

    <ul class="context-menu" id="main">
        <li onclick="location='/devin/analyze/'">Закупка картриджей</li>
        <li onclick="location='/devin/repair/report_year/'">Годовой отчет по ремонтам</li>
        <li onclick="location='/devin/repair/cartridges_usage/'">Годовой отчет по картриджам</li>
        <li onclick="groupCreate()">Создать группу</li>
        <li onclick="writeoffCreate()">Создать списание</li>
        <li onclick="writeoffSetup()">Шаблоны списаний</li>
    </ul>

    <ul class="context-menu" id="writeoff">
        <li onclick="writeoffOpen()">Открыть карточку</li>
        <li onclick="writeoffPrint()">Печать</li>
        <li onclick="groupBeforeMove()">Переместить</li>
        <li onclick="offMenuRepairs()">Отметить все ремонты как списаные</li>
        <li onclick="onMenuRepairs()">Отметить все ремонты как активные</li>
        <li onclick="deleteMenuRepairs()">Отменить все ремонты</li>
        <li onclick="writeoffDelete()">Удалить списание</li>
    </ul>

    <ul class="context-menu" id="group">
        <li onclick="groupEdit()">Переименовать</li>
        <li onclick="groupBeforeMove()">Переместить</li>
        <li onclick="groupCreateInner()">Создать вложенную группу</li>
        <li onclick="groupErase()">Очистить</li>
        <li onclick="groupDelete()">Удалить</li>
    </ul>

    <ul class="context-menu" id="modal">
        <li></li>
        <li>Ок</li>
        <li onclick="$(this).parent().fadeOut(100)">Отмена</li>
    </ul>
}

@Html.Action("list")
