@model RepairsViewModel

<div class="unit" id="solo">
    <table class="caption">
        <tr>
            <th width="24px"><div class="icon ic-cached"></div></th>
            <td><b>Не распределенные ремонты</b></td>
        </tr>
    </table>
    @Html.Partial("Repairs", Model.Repairs)
</div>

@foreach (Writeoff writeoff in Model.Writeoffs)
{
    @Html.Partial("Writeoff", writeoff)
}

@foreach (Folder folder in Model.Folders)
{
    @Html.Partial("Folder", folder)
}