@{
    Layout = null;
}

<select id="moveKey" class="cart__field cart__field_autoWidth">
    <option value="0">Не распределенные</option>
    @using (var db = new DevinContext())
    {
        var writeoffs = db.Writeoffs
			.Where(x => x.FolderId == 0)
            .OrderByDescending(x => x.Date)
            .Select(x => new { x.Id, x.Name })
            .ToList();

        foreach (var item in writeoffs)
        {
            <option value="@item.Id">[списание] @item.Name</option>
        }

        var folders = db.Folders
            .Where(x => x.Type == "repair")
            .OrderBy(x => x.Name)
            .Select(x => new { x.Id, x.Name })
            .ToList();

        foreach (var item in folders)
        {
            <option value="@item.Id">[папка] @item.Name</option>
        }
    }
</select>