@model RepairsViewModel

<div class="unit">
    <table class="caption">
        <tr>
            <th>Поиск совпадений по запросу: @ViewBag.Search</th>
        </tr>
    </table>
    @Html.Partial("Repairs", Model.Repairs)
</div>