.tmenu td {
	width: auto;
	min-width: 80px;
}

.tmenu td>a {
	color: #333;
	text-decoration: none;
	display: block
}

.tmenu td.sel>a {
	color: white;
}

.g_title {
	font: bold 14pt Century Gothic;
}

.repairs_group {
	width: 100%;
	border: 0;
}

.repairs_group td {
	text-align: left;
	font: normal 10pt Segoe UI;
}

.repairs_group tr.name {
	font: bold 13pt Century Gothic;
}

.repairs_group tr.name:hover {
	color: black;
}

#info {
	position: fixed;
	border: 2px solid #333;
	z-index: 1;
	top: 10px;
	right: 20px;
	background: #eee;
	max-width: 500px;
}

#info table td {
	text-align: left;
}

#info table tr td:first-child {
	width: 150px;
}

#cart {
	min-height: 250px;
}

#selected {
	left: 950px;
	top: 0;
}